@charset "utf-8";

/* header */
.header {
	position: fixed;
	width: 100%;
	left: 0;
	top: 0;
	height: 6.5rem;
	background-color: #fff;
	z-index: 100;
}
.header-logo {
	display: block;
	position: relative;
	margin: 1.25rem auto 0;
	width: 20rem;
	height: 4rem;
	outline: 0;
}
.header-logo img {
	display: block;
	width: 100%;
	height: 100%;
}

/* main */
.wrap{
	position: relative;
}
.main {
	margin: 6.5rem 0 0;
	text-align: center;
}

/* common */
strong {
	font-weight: 700;
	font-size: inherit;
}
.roudn-box-txt {
	display: inline-block;
	vertical-align: top;
	font-size: 1.4rem;
	line-height: 2.8rem;
	height: 2.8rem;
	border-radius: 1.4rem;
	padding: 0 1.5rem;
	margin-bottom: .8rem;
}
.txt-01 {
	font-size: 2.4rem;
	line-height: 3.6rem;
}
.txt-02 {
	font-size: 1.6rem;
	line-height: 2.4rem;
	margin-top: 1rem;
}
.txt-01 + .txt-02 {
	margin-top: 1rem;
}


/* section-01 */
.section-01 {
	position: relative;
}
.ic-aos {
	display: inline-block;
	vertical-align: top;
	width: 2.2rem;
	height: 2.2rem;
	margin-right: .5rem;
	background: url(../img/ic-aos.png) no-repeat center;
	background-size: contain;
}
.ic-ios {
	display: inline-block;
	vertical-align: top;
	width: 2.2rem;
	height: 2.2rem;
	margin-right: .5rem;
	background: url(../img/ic-ios.png) no-repeat center;
	background-size: contain;
}

/* section-01 */
.section-01 .link-box {
	position: absolute;
	display: flex;
	left: 0;
	bottom: 2.8rem;
	width: 100%;
	padding: 0 2.2rem;
}
.section-01 .link-box a {
	display: flex;
	align-items: center;
	justify-content: center;
	flex: auto;
	width: 100%;
	height: 4.4rem;
	background-color: rgba(0,0,0,.55);
	border-radius: .5rem;
	color: #fff;
	font-size: 1.6rem;
	line-height: 2.2rem;
	font-weight: 500;
	letter-spacing: -.05rem;
}
.section-01 .link-box a + a {
	margin-left: 1.6rem;
}
.swiper-01 {
	height: 100%;
	text-align: left;
}
.slick-list,
.slick-track{
	height: 100%;
}
.swiper-01 .tit {
	font-size: 2.8rem;
	line-height: 4rem;
	font-weight: 700;
	color: #fff;
}
.swiper-01 .sub {
	font-size: 1.6rem;
	line-height: 2.4rem;
	color: #fff;
	margin-top: .8rem;
}
.swiper-01 .item {
	width: 100%;
	height: 100%;
	background-size: cover;
	padding: 3rem 2.2rem;
}
.swiper-01 .item.bg-01 {
	background-image: url(../img/visual-01.png);
}
.swiper-01 .item.bg-02 {
	background-image: url(../img/visual-02.png);
}
.swiper-01 .item.bg-03 {
	background-image: url(../img/visual-03.png);
}
.swiper-01 .slick-dots {
	position: absolute;
	left: 2.2rem;
	top: 20.5rem;
	white-space: nowrap;
}
.swiper-01 .slick-dots li {
	display: inline-block;
	vertical-align: top;
	font-size: 0;
	text-indent: -9999px;
	overflow: hidden;
	width: 2rem;
	height: .2rem;
	border-radius: .1rem;
	background-color: #fff;
	opacity: .5;
	margin: 0 .5rem 0 0;
}
.swiper-01 .slick-dots li.slick-active {
	opacity: 1;
}


/* section-02 */
.section-02 {
	padding: 7rem 2.2rem;
}
.section-02 .txt-02 {
	margin-bottom: 4rem;
}
.section-02 .ico-list {
	margin: 0;
	font-size: 0;
}
.section-02 .ico-list li {
	display: inline-block;
	vertical-align: top;
	width: calc(50% - .8rem);
	margin-top: 1.6rem;
	border: solid 1px #f0f0f1;
	border-radius: .5rem;
	padding: 3rem 1rem 2rem;
	transition: transform 1s, opacity 1s;
	transform: translateY(5rem);
	opacity: 0;
}
.section-02 .ico-list li:nth-child(2) {
	transition-delay: .3s;
}
.section-02 .ico-list li:nth-child(3) {
	transition-delay: .6s;
}
.section-02 .ico-list li:nth-child(4) {
	transition-delay: .9s;
}

.section-02 .ico-list li:nth-child(1),
.section-02 .ico-list li:nth-child(2) {
	margin-top: 0;
}
.section-02 .ico-list li:nth-child(2n) {
	margin-left: 1.6rem;
}
.section-02 .ico-list img {
	display: block;
	margin: 0 auto;
	width: 6rem;
	height: 6rem;
}
.section-02 .ico-list .tit {
	font-size: 1.6rem;
	line-height: 2.4rem;
	font-weight: 700;
	color: #056bff;
	margin-top: 1.3rem;
}
.section-02 .ico-list .txt {
	font-size: 1.2rem;
	line-height: 1.8rem;
	color: #666;
	margin-top: .6rem;
}
.section-02 .ico-list.animate li {
	opacity: 1;
	transform: translateY(0);
}


/* section-03 */
.section-03 {
	background-color: #056bff;
	padding: 7rem 2.2rem 0;
	color: #fff;
	overflow: hidden;
}
.section-03 .roudn-box-txt {
	background-color: #fff;
	color: #056bff;
}
.section-03 .txt-02 {
	font-weight: 200;
	margin: .8rem 0 4rem;
}
.section-03 .img-box {
	display: block;
	position: relative;
	width: 25rem;
	height: 35rem;
	margin: 0 auto;
}
.section-03 .img-box img {
	display: block;
	width: 100%;
	height: 100%;
}
.section-03 .img-box-inner {
	display: block;
	width: 100%;
	height: 100%;
	transition: transform 1s;
	transform: translateY(100%);
}
.section-03 .img-box.animate .img-box-inner {
	transform: translateY(0);
}
@keyframes boom01 {
	0% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(1.8);
		opacity: 0;
	}
}
.section-03 .mic {
	display: block;
	position: absolute;
	width: 7rem;
	height: 7rem;
	bottom: 3.5rem;
	left: 50%;
	margin-left: -3.5rem;
}
.section-03 .mic::after {
	content: '';
	display: block;
	position: absolute;
	background-color: #056bff;
	background-image: url(../img/ic-voice-01.svg);
	background-size: 13rem;
	background-position: center;
	width: 7rem;
	height: 7rem;
	border-radius: 3.5rem;
	bottom: 0;
	left: 0;
	box-shadow: 1px 2px 5px 0 rgba(53, 56, 61, 0.3);
}
.section-03 .mic::before {
	content: '';
	display: block;
	position: absolute;
	background-color: #056bff;
	width: 7rem;
	height: 7rem;
	border-radius: 3.5rem;
	bottom: 0;
	left: 0;
	box-shadow: 1px 2px 5px 0 rgba(53, 56, 61, 0.3);
}
.section-03 .animate .mic::before {
	animation-delay: 1s;
	animation-duration: 1s;
	animation-name: boom01;
	animation-iteration-count: infinite;
}


/* section-04 */
.section-04 {
	padding: 7rem 2.2rem 0;
	color: #000;
	overflow: hidden;
}
.section-04 .roudn-box-txt {
	background-color: #edf4ff;
	color: #056bff;
}
.section-04 .txt-01 {
	font-weight: 200;
	margin: 0 0 -2rem;
}
.section-04 .txt-01 em {
	font-size: inherit;
	font-weight: inherit;
	color: #056bff;
}
.section-04 .mockup-box {
	background-image:url(../img/img-mockup-shadow02.svg);
}
.visual-wrap .img-box {
	display: block;
	position: relative;
	width: 25rem;
	height: 35rem;
	margin: 0 auto;
}
.visual-wrap .img-box img {
	display: block;
	width: 100%;
	height: 100%;
	transform: translateY(100%);
	opacity: 0;
	transition: transform 1s, opacity 1s;
}
.visual-wrap.animation-2 .img-box img {
	transform: translateY(0);
	opacity: 1;
}

@keyframes zoomInOut {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(0);
	}
}
.ico-loading {
	display: none;
}
.loading .ico-loading {
	display: block;
	float: right;
}
.ico-loading span {
	display: inline-block;
	vertical-align: top;
	margin-top: 1rem;
	margin-bottom: 1rem;
	height: 2rem;
	width: 2rem;
	border-radius: 1rem;
	background-color: #000;
	animation-duration: .5s;
	animation-name: zoomInOut;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-timing-function: linear;
}
.ico-loading span:nth-child(2) {
	animation-delay: .1s;
}
.ico-loading span:nth-child(3) {
	animation-delay: .2s;
}
.ico-loading span + span {
	margin-left: .5rem;
}
.visual-wrap {
	position: relative;
}

/* mockup */
.section-04 .visual-wrap {
	height: 520px;
	margin: 0 -2.2rem;
	overflow: hidden;
}
.mockup-wrap {
	display: block;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -200px;
	width: 400px;
	height: 643px;
	transform: translateY(500px) scale(.8);
	opacity: 0;
	transition: transform 2s, opacity 2s;
}
.animate .mockup-wrap {
	transform: translateX(0) scale(.8);
	opacity: 1;
}
.mockup-box {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: url(../img/img-mockup-shadow.svg) no-repeat;
	background-size: contain;
}
.mockup-inner {
	position: relative;
	overflow: hidden;
	top: 47px;
	left: 75px;
	width: 250px;
	height: 544px;
	background-color: #fff;
}
.mockup-365-header {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 49px;
	background: url(../img/img-mockup-365-header.png) no-repeat top;
	background-size: contain;
	z-index: 30;
}
.mockup-365-body {
	display: block;
	position: absolute;
	top: 48px;
	left: 0;
	width: 100%;
	height: 496px;
}
.animate .mockup-365-body {
	transition: transform 1s;
	transition-delay: 5s;
	transform: translateY(-80px);
}
.mockup-365-top {
	display: block;
	width: 100%;
	height: 107px;
	background: url(../img/img-mockup-365-top.png) no-repeat top;
	background-size: 100%;
}
.mockup-365-wheel {
	position: relative;
	height: 140px;
	background: #fff;
}
.waterwheel-slide {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -180px;
	margin-top: -70px;
	height: 140px;
	width: 360px;
	background: #fff url(../img/img_title_base.png) no-repeat center bottom;
	background-size: 320px;
	transform: scale(.7);
}
.layer-content > .waterwheel-slide {
	margin: 0 -22px;
}
.wws-inner {
	display: block;
	position: relative;
}
.wws-item {
	display: flex;
	position: absolute;
	left: 50%;
	top: 0;
	margin-left: -60px;
	align-items: center;
	justify-content: center;
	width: 120px;
	height: 60px;
	font-size: 14px;
	line-height: 30px;
	border-radius: 10px;
	color: #fff;
	font-weight: 500;
	background-color: #e6f0ff;
	opacity: 0;
	transition: transform .5s linear, background .5s linear, box-shadow .5s linear;
}
.no-motion .wws-item {
	transition: none;
}
.wws-item::after {
	content: '';
	display: inline-block;
	vertical-align: top;
	width: 30px;
	height: 30px;
	background: url(../img/ic_edit.svg) no-repeat;
	background-size: contain;
	margin-left: 5px;
}
@keyframes wh1 {
	0% {
		transform: translate(0, 40px);
		background-color: #056bff;
		font-size: 17px;
		width: 180px;
		height: 66px;
		margin-left: -90px;
		box-shadow: 0 -2px 8px 2px rgba(0,0,0,.1);
		opacity: 1;
		z-index: 10;
	}
	10% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(-97px, 30px);
		z-index: 9;
		font-size: 14px;

		background-color: #e6f0ff;
		width: 120px;
		height: 60px;
		margin-left: -60px;
	}
	30% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(-97px, 30px);
		z-index: 9;
		font-size: 14px;

		background-color: #e6f0ff;
		width: 120px;
		height: 60px;
		margin-left: -60px;
	}
	40% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(-70px, 10px);
		z-index: 8;
		font-size: 14px;

		background-color: #e6f0ff;
		width: 120px;
		height: 60px;
		margin-left: -60px;
	}
	100% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(-70px, 10px);
		z-index: 8;
		font-size: 14px;

		background-color: #e6f0ff;
		width: 120px;
		height: 60px;
		margin-left: -60px;
	}
}
@keyframes wh2 {
	0% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(97px, 30px);
		z-index: 9;
	}
	10% {
		transform: translate(0, 40px);
		background-color: #056bff;
		font-size: 17px;
		width: 180px;
		height: 66px;
		margin-left: -90px;
		box-shadow: 0 -2px 8px 2px rgba(0,0,0,.1);
		opacity: 1;
		z-index: 10;
	}
	30% {
		transform: translate(0, 40px);
		background-color: #056bff;
		font-size: 17px;
		width: 180px;
		height: 66px;
		margin-left: -90px;
		box-shadow: 0 -2px 8px 2px rgba(0,0,0,.1);
		opacity: 1;
		z-index: 10;
	}
	40% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(-97px, 30px);
		z-index: 9;

		background-color: #e6f0ff;
		width: 120px;
		height: 60px;
		margin-left: -60px;
	}
	100% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(-97px, 30px);
		z-index: 9;

		background-color: #e6f0ff;
		width: 120px;
		height: 60px;
		margin-left: -60px;
	}
}
@keyframes wh3 {
	0% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(70px, 10px);
		z-index: 8;
	}
	10% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(97px, 30px);
		z-index: 9;

		background-color: #e6f0ff;
		width: 120px;
		height: 60px;
		margin-left: -60px;
	}
	30% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(97px, 30px);
		z-index: 9;

		background-color: #e6f0ff;
		width: 120px;
		height: 60px;
		margin-left: -60px;
	}
	40% {
		transform: translate(0, 40px);
		background-color: #056bff;
		font-size: 17px;
		width: 180px;
		height: 66px;
		margin-left: -90px;
		box-shadow: 0 -2px 8px 2px rgba(0,0,0,.1);
		opacity: 1;
		z-index: 10;
	}
	100% {
		transform: translate(0, 40px);
		background-color: #056bff;
		font-size: 17px;
		width: 180px;
		height: 66px;
		margin-left: -90px;
		box-shadow: 0 -2px 8px 2px rgba(0,0,0,.1);
		opacity: 1;
		z-index: 10;
	}
}
@keyframes wh4 {
	0% {
		opacity: 1;
		z-index: 7;
	}
	10% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(70px, 10px);
		z-index: 8;
	}
	30% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(70px, 10px);
		z-index: 8;
	}
	40% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(97px, 30px);
		z-index: 9;
	}
	100% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(97px, 30px);
		z-index: 9;
	}
}
@keyframes wh5 {
	0% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(-97px, 30px);
		z-index: 9;
	}
	10% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(-70px, 10px);
		z-index: 8;
	}
	30% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(-70px, 10px);
		z-index: 8;
	}
	40% {
		opacity: 1;
		z-index: 7;

		box-shadow: 0 0 0 0 rgba(255,255,255, .0);
		transform: translate(0, 0);
	}
	100% {
		opacity: 1;
		z-index: 7;

		box-shadow: 0 0 0 0 rgba(255,255,255, .0);
		transform: translate(0, 0);
	}
}
@keyframes wh6 {
	0% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(-70px, 10px);
		z-index: 8;
	}
	10% {
		opacity: 1;
		z-index: 7;

		box-shadow: 0 0 0 0 rgba(255,255,255, .0);
		transform: translate(0, 0);
	}
	30% {
		opacity: 1;
		z-index: 7;

		box-shadow: 0 0 0 0 rgba(255,255,255, .0);
		transform: translate(0, 0);
	}
	40% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(70px, 10px);
		z-index: 8;
	}
	100% {
		opacity: 1;
		box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
		transform: translate(70px, 10px);
		z-index: 8;
	}
}
.animate .wws-item {
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-duration: 5s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}
.wws-item:nth-child(1) {
	/* .crt */
	transform: translate(0, 40px);
	background-color: #056bff;
	font-size: 17px;
	width: 180px;
	height: 66px;
	margin-left: -90px;
	box-shadow: 0 -2px 8px 2px rgba(0,0,0,.1);
	opacity: 1;
	z-index: 10;
	letter-spacing: -1px;
}
.animate .wws-item:nth-child(1) {
	/* .crt */
	animation-name: wh1;
}
.wws-item:nth-child(2) {
	/* .r1 */
	opacity: 1;
	box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
	transform: translate(97px, 30px);
	z-index: 9;
}
.animate .wws-item:nth-child(2) {
	/* .r1 */
	animation-name: wh2;
}
.wws-item:nth-child(3) {
	/* .r1 */
	opacity: 1;
	box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
	transform: translate(70px, 10px);
	z-index: 8;
}
.animate .wws-item:nth-child(3) {
	/* .r1 */
	animation-name: wh3;
}
.wws-item:nth-child(4) {
	/* .lst */
	opacity: 1;
	z-index: 7;
}
.animate .wws-item:nth-child(4) {
	/* .r1 */
	animation-name: wh4;
}
.wws-item:nth-child(5) {
	/* .l2 */
	opacity: 1;
	box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
	transform: translate(-70px, 10px);
	z-index: 8;
}
.animate .wws-item:nth-child(5) {
	/* .r1 */
	animation-name: wh5;
}
.wws-item:nth-child(6) {
	/* .l1 */
	opacity: 1;
	box-shadow: 0 2px 8px 12px rgba(255,255,255,.5);
	transform: translate(-97px, 30px);
	z-index: 9;
}
.animate .wws-item:nth-child(6) {
	/* .l1 */
	animation-name: wh6;
}
@keyframes sld1 {
	0% {
		left: 0;
	}
	10% {
		left: -100%;
	}
	30% {
		left: -100%;
	}
	40% {
		left: -100%;
	}
	100% {
		left: -100%;
	}
}
@keyframes sld2 {
	0% {
		left: 100%;
	}
	10% {
		left: 0;
	}
	30% {
		left: 0;
	}
	40% {
		left: -100%;
	}
	100% {
		left: -100%;
	}
}
@keyframes sld3 {
	0% {
		left: 100%;
	}
	10% {
		left: 100%;
	}
	30% {
		left: 100%;
	}
	40% {
		left: 0;
	}
	100% {
		left: 0;
	}
}
.mockup-365-cont {
	position: relative;
	background-color: #fff;
}
.animate .mockup-365-cont .item {
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-duration: 5s;
	animation-delay: 2s;
	animation-fill-mode: forwards;
}
.mockup-365-cont .item:nth-child(1) {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 250px;
	background: url(../img/img-mockup-grahp-01.png) no-repeat top;
	background-size: 100%;
}
.animate .mockup-365-cont .item:nth-child(1) {
	animation-name: sld1;
}
.mockup-365-cont .item:nth-child(2) {
	position: absolute;
	left: 100%;
	top: 0;
	width: 100%;
	height: 250px;
	background: url(../img/img-mockup-grahp-02.png) no-repeat top;
	background-size: 100%;
}
.animate .mockup-365-cont .item:nth-child(2) {
	animation-name: sld2;
}
.mockup-365-cont .item:nth-child(3) {
	position: absolute;
	left: 100%;
	top: 0;
	width: 100%;
	height: 360px;
	background: url(../img/img-mockup-grahp-03.png) no-repeat top;
	background-size: 100%;
}
.animate .mockup-365-cont .item:nth-child(3) {
	animation-name: sld3;
}
.mockup-365-shop {
	position: absolute;
	overflow: hidden;
	top: 62px;
	left: 75px;
	width: 250px;
	height: 529px;
	background-color: #fff;
	z-index: 31;
	color: #fff;
}
@keyframes shopup {
	/* 7s */
	0% {
		opacity: 0;
		transform: scale(.1);
	}
	68% {
		opacity: 0;
		transform: scale(.1);
	}
	70% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.animate .mockup-365-shop {
	background-color: #ddd;
	animation-name: shopup;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-duration: 10s;
	animation-fill-mode: forwards;
}

/* mockup prevent */
.section-05 .txt-box-wrap {
	position: relative;
	height: 520px;
	margin: 0 -2.2rem;
	overflow: hidden;
}
.mockup-prv-header {
	display: block;
	width: 100%;
	height: 107px;
	background: url(../img/img-mockup-prv-top.png) no-repeat top;
	background-size: 100%;
}
.mockup-prv-body {
	display: block;
	position: absolute;
	top: 48px;
	left: 0;
	width: 100%;
	height: 496px;
}
.mockup-prv-sld {
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 132px;
}
.mockup-prv-sld::before {
	content: '';
	display: block;
	position: absolute;
	left: 36px;
	top: 75px;
	background: url(../img/btn-arrow-black-30-left.svg) no-repeat center;
	background-size: 100%;
	width: 20px;
	height: 20px;
	z-index: 1;
}
.mockup-prv-sld::after {
	content: '';
	display: block;
	position: absolute;
	right: 36px;
	top: 75px;
	background: url(../img/btn-arrow-black-30-right.svg) no-repeat center;
	background-size: 100%;
	width: 20px;
	height: 20px;
	z-index: 1;
}
.mockup-prv-sld .item {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
}
.mockup-prv-sld .item:nth-child(1) {
	left: 0;
	background: url(../img/img-mockup-profile-01.png) no-repeat top;
	background-size: 100%;
}
.mockup-prv-sld .item:nth-child(2) {
	left: 100%;
	background: url(../img/img-mockup-profile-02.png) no-repeat top;
	background-size: 100%;
}
.animate .mockup-prv-sld .item:nth-child(1) {
	left: -100%;
	transition: left 1s;
	transition-delay: 7.5s;
}
.animate .mockup-prv-sld .item:nth-child(2) {
	left: 0;
	transition: left 1s;
	transition-delay: 7.5s;
}
.mockup-prv-cont {
	position: absolute;
	left: 0;
	top: 132px;
	background: url(../img/img-mockup-page-01.png) no-repeat top;
	background-size: 100%;
	width: 100%;
	height: 376px;
}
.mockup-prv-cont ul {
	display: block;
	text-align: center;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 30px;
	font-size: 0;
	margin-top: 16px;
}
.mockup-prv-cont ul:nth-child(1) {
	top: 69px;
}
.mockup-prv-cont ul:nth-child(2) {
	top: 176px;
}
.mockup-prv-cont ul:nth-child(3) {
	top: 282px;
}
.mockup-prv-cont li {
	display: inline-block;
	position: relative;
	vertical-align: top;
	width: 30px;
	height: 30px;
	margin: 0 7px;
	background: url(../img/ic-inoculation-nor.svg) no-repeat;
	background-size: contain;
}
.mockup-prv-cont li::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	background: url(../img/ic-inoculation-miss.svg) no-repeat;
	background-size: contain;
	opacity: 0;
}
.mockup-prv-cont li::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	background: url(../img/ic-inoculation-sel.svg) no-repeat;
	background-size: contain;
	opacity: 0;
}
@keyframes blink {
	from {
		transform: scale(0);
		opacity: 1;
	}
	to {
		transform: scale(1.8);
		opacity: 0;
	}
}
.mockup-prv-cont li em {
	opacity: 0;
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.mockup-prv-cont li span {
	display: block;
	width: 40px;
	position: absolute;
	font-size: 10px;
	color: #056bff;
	font-weight: 400;
	left: 50%;
	top: 32px;
	margin-left: -20px;
	letter-spacing: -1.2px;
	text-align: center;
}
.mockup-prv-cont li span.red {
	color: #ff3c42;

}
.mockup-prv-cont li em::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: #056bff;
	animation: blink 1s .8s infinite;
}
.animate .mockup-prv-cont li em::before {
	background-color: #fff;
	transition: background-color 0.5s;
	transition-delay: 6.5s;
}
.mockup-prv-cont li em::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: url(../img/ic-inoculation-plan.svg) no-repeat;
	background-size: contain;
}
@keyframes fillup {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	60% {
		opacity: 0;
		transform: scale(0);
	}
	65% {
		opacity: 1;
		transform: scale(1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}
.mockup-prv-cont li i {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background: url(../img/ic-inoculation-sel.svg) no-repeat;
	background-size: contain;
	z-index: 1;
}
.animate .mockup-prv-cont li i {
	opacity: 1;
	background-color: #ddd;
	animation-name: fillup;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-duration: 10s;
	animation-fill-mode: forwards;
}
.mockup-prv-cont ul li:first-child::after {
	opacity: 1;
}
.mockup-prv-cont ul:nth-child(3) li:nth-child(1):after,
.mockup-prv-cont ul:nth-child(3) li:nth-child(2):after,
.mockup-prv-cont ul:nth-child(3) li:nth-child(3):after,
.mockup-prv-cont ul:nth-child(2) li:nth-child(2):after {
	opacity: 1;
}
.mockup-prv-cont ul:nth-child(1) li:nth-child(2)::before {
	opacity: 1;
}
.mockup-prv-cont ul:nth-child(1) li:nth-child(3) em,
.mockup-prv-cont ul:nth-child(2) li:nth-child(3) em {
	opacity: 1;
}
@keyframes talkup {
	/* 7s */
	0% {
		opacity: 0;
		transform: scale(.1);
	}
	30% {
		opacity: 0;
		transform: scale(.1);
	}
	32% {
		opacity: 1;
		transform: scale(1);
	}
	47% {
		opacity: 1;
		transform: scale(1);
	}
	50% {
		opacity: 0;
		transform: scale(.1);
	}
	100% {
		opacity: 0;
		transform: scale(.1);
	}
}
.mockup-prv-talk {
	position: absolute;
	overflow: hidden;
	top: 62px;
	left: 75px;
	width: 250px;
	height: 529px;
	background: url(../img/img-mockup-page-02.png) no-repeat top;
	background-size: 100%;
	z-index: 31;
	color: #fff;
	opacity: 0;
}
.animate .mockup-prv-talk {
	opacity: 1;
	background-color: #ddd;
	animation-name: talkup;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	animation-duration: 10s;
	animation-fill-mode: forwards;
}
.mockup-prv-talk::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	background: url(../img/img-mockup-page-02.png) no-repeat bottom;
	background-size: 100%;
	width: 250px;
	height: 100px;
}
.mockup-prv-cont.aft {
	left: 100%;
}
.mockup-prv-cont.aft ul:nth-child(2) li:nth-child(4)::after,
.mockup-prv-cont.aft ul li:nth-child(1)::after,
.mockup-prv-cont.aft ul li:nth-child(2)::after,
.mockup-prv-cont.aft ul li:nth-child(3)::after {
	opacity: 1;
}
.animate .mockup-prv-cont {
	left: -100%;
	transition: left 1s;
	transition-delay: 7.5s;
}
.animate .mockup-prv-cont.aft {
	left: 0;
	transition: left 1s;
	transition-delay: 7.5s;
}
/* // mockup */


/* section-05 */
.section-05 {
	padding: 7rem 2.2rem 0;
	background: #214374;
	color: #fff;
}
.section-05 .roudn-box-txt {
	background-color: #fff;
	color: #056bff;
}
.section-05 .txt-01 {
	margin-bottom: 0;
}
.section-05 .txt-02 {
	margin-bottom: -2rem;
}


/* section-06 */
.section-06 {
	width: 100%;
	overflow: hidden;
	box-sizing: border-box;
	padding: 7rem 2.2rem 4rem;
	color: #000;
}
.section-06 .roudn-box-txt {
	background-color: #edf4ff;
	color: #056bff;
}
.section-06 .txt-02 {
	color: #1a1a1a;
	font-weight: 200;
	margin: .8rem 0 0;
}

/* vdo-slider */
.vdo-slider-wrap {
	position: relative;
}
.vdo-slider-wrap > button {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -30vw;
	margin-top: -16.875vw;
	width: 60vw;
	height: 33.75vw;
	background: transparent;
	border: 0;
	padding: 0;
	z-index: 10;
}
.vdo-slider-wrap > button.btn-prev {
	transform: translateX(-20%);
}
.vdo-slider-wrap > button.btn-next {
	transform: translateX(20%);
}
.vdo-slider {
	position: relative;
	margin: 4rem -2.2rem 3rem;
	box-sizing: border-box;
	height: 56.25vw;
}
.vdo-slider .item {
	/* 225/400 60*0.5625 */
	/* 72 */
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -30vw;
	margin-top: -16.875vw;
	width: 60vw;
	height: 33.75vw;
	box-shadow: .1rem .1rem .4rem .1rem rgba(0,0,0,.5);
	transition: transform 1s, opacity 1s;
}
.vdo-slider .item::after {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.5);
}
.vdo-slider img {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
.vdo-slider video {
	display: block;
	width: 100%;
}
.vdo-slider .btn-play {
	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -5vw;
	padding: 0;
	border: 0;
	width: 10vw;
	height: 10vw;
	background: url(../img/play.svg) no-repeat;
	background-size: contain;
}
.vdo-slider .btn-close {
	display: none;
	position: absolute;
	width: 8vw;
	height: 8vw;
	background: url(../img/btn-close-w.svg) no-repeat;
	background-size: contain;
	right: -10vw;
	top: -16vw;
}
.vdo-slider .item.is-playing::before {
	content: '';
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .6);
	transform: scale(100);
}
.vdo-slider .item.is-playing video {
	transform: scale(1.39) translateY(0);
	transition: transform .4s;
}
.vdo-slider .item.is-playing .btn-play {
	opacity: 0;
	background: url(../img/stop.svg) no-repeat;
	background-size: contain;
	transition: opacity .2s;
}
.vdo-slider .item.is-playing.is-pause .btn-play {
	opacity: 1;
	background: url(../img/play.svg) no-repeat;
	background-size: contain;
}
.vdo-slider .item.is-playing .btn-close {
	display: block;
}
.vdo-slider .item.is-playing img {
	display: none;
}
/* 1 */
.vdo-slider-wrap[snum="1"] .item:nth-child(1)::after {display: none;}
.vdo-slider-wrap[snum="1"] .item:nth-child(1) .btn-play {display: block;}
.vdo-slider-wrap[snum="1"] .item:nth-child(1) {transform: scale(1.2); z-index: 11;}
.vdo-slider-wrap[snum="1"] .item:nth-child(2) {transform: translateX(20%);z-index: 9;}
.vdo-slider-wrap[snum="1"] .item:nth-child(3) {transform: translateX(20%);z-index: 8;opacity: 0;}
.vdo-slider-wrap[snum="1"] .item:nth-child(4) {transform: translateX(20%);z-index: 8;opacity: 0;}
.vdo-slider-wrap[snum="1"] .item:nth-child(5) {transform: translateX(-20%);z-index: 8;opacity: 0;}
.vdo-slider-wrap[snum="1"] .item:nth-child(6) {transform: translateX(-20%);z-index: 9;}

/* 2 */
.vdo-slider-wrap[snum="2"] .item:nth-child(2)::after {display: none;}
.vdo-slider-wrap[snum="2"] .item:nth-child(2) .btn-play {display: block;}
.vdo-slider-wrap[snum="2"] .item:nth-child(1) {transform: translateX(-20%);z-index: 9;}
.vdo-slider-wrap[snum="2"] .item:nth-child(2) {transform: scale(1.2); z-index: 11;}
.vdo-slider-wrap[snum="2"] .item:nth-child(3) {transform: translateX(20%);z-index: 9;}
.vdo-slider-wrap[snum="2"] .item:nth-child(4) {transform: translateX(20%);z-index: 8;opacity: 0;}
.vdo-slider-wrap[snum="2"] .item:nth-child(5) {transform: translateX(20%);z-index: 8;opacity: 0;}
.vdo-slider-wrap[snum="2"] .item:nth-child(6) {transform: translateX(-20%);z-index: 8;opacity: 0;}

/* 3 */
.vdo-slider-wrap[snum="3"] .item:nth-child(3)::after {display: none;}
.vdo-slider-wrap[snum="3"] .item:nth-child(3) .btn-play {display: block;}
.vdo-slider-wrap[snum="3"] .item:nth-child(1) {transform: translateX(-20%);z-index: 8;opacity: 0;}
.vdo-slider-wrap[snum="3"] .item:nth-child(2) {transform: translateX(-20%);z-index: 9;}
.vdo-slider-wrap[snum="3"] .item:nth-child(3) {transform: scale(1.2); z-index: 11;}
.vdo-slider-wrap[snum="3"] .item:nth-child(4) {transform: translateX(20%);z-index: 9;}
.vdo-slider-wrap[snum="3"] .item:nth-child(5) {transform: translateX(20%);z-index: 8;opacity: 0;}
.vdo-slider-wrap[snum="3"] .item:nth-child(6) {transform: translateX(20%);z-index: 8;opacity: 0;}

/* 4 */
.vdo-slider-wrap[snum="4"] .item:nth-child(4)::after {display: none;}
.vdo-slider-wrap[snum="4"] .item:nth-child(4) .btn-play {display: block;}
.vdo-slider-wrap[snum="4"] .item:nth-child(1) {transform: translateX(20%);z-index: 8;opacity: 0;}
.vdo-slider-wrap[snum="4"] .item:nth-child(2) {transform: translateX(-20%);z-index: 8;opacity: 0;}
.vdo-slider-wrap[snum="4"] .item:nth-child(3) {transform: translateX(-20%);z-index: 9;}
.vdo-slider-wrap[snum="4"] .item:nth-child(4) {transform: scale(1.2); z-index: 11;}
.vdo-slider-wrap[snum="4"] .item:nth-child(5) {transform: translateX(20%);z-index: 9;}
.vdo-slider-wrap[snum="4"] .item:nth-child(6) {transform: translateX(20%);z-index: 8;opacity: 0;}

/* 5 */
.vdo-slider-wrap[snum="5"] .item:nth-child(5)::after {display: none;}
.vdo-slider-wrap[snum="5"] .item:nth-child(5) .btn-play {display: block;}
.vdo-slider-wrap[snum="5"] .item:nth-child(1) {transform: translateX(20%);z-index: 8;opacity: 0;}
.vdo-slider-wrap[snum="5"] .item:nth-child(2) {transform: translateX(20%);z-index: 8;opacity: 0;}
.vdo-slider-wrap[snum="5"] .item:nth-child(3) {transform: translateX(-20%);z-index: 8;opacity: 0;}
.vdo-slider-wrap[snum="5"] .item:nth-child(4) {transform: translateX(-20%);z-index: 9;}
.vdo-slider-wrap[snum="5"] .item:nth-child(5) {transform: scale(1.2); z-index: 11;}
.vdo-slider-wrap[snum="5"] .item:nth-child(6) {transform: translateX(20%);z-index: 9;}

/* 6 */
.vdo-slider-wrap[snum="6"] .item:nth-child(6)::after {display: none;}
.vdo-slider-wrap[snum="6"] .item .btn-play {display: block;}
.vdo-slider-wrap[snum="6"] .item:nth-child(1) {transform: translateX(20%);z-index: 9;}
.vdo-slider-wrap[snum="6"] .item:nth-child(2) {transform: translateX(20%);z-index: 8;opacity: 0;}
.vdo-slider-wrap[snum="6"] .item:nth-child(3) {transform: translateX(20%);z-index: 8;opacity: 0;}
.vdo-slider-wrap[snum="6"] .item:nth-child(4) {transform: translateX(-20%);z-index: 8;opacity: 0;}
.vdo-slider-wrap[snum="6"] .item:nth-child(5) {transform: translateX(-20%);z-index: 9;}
.vdo-slider-wrap[snum="6"] .item:nth-child(6) {transform: scale(1.2); z-index: 11;}

/* vdo-txt-list */
.vdo-txt-list {
	position: relative;
	text-align: center;
	height: 17.5rem;
	word-break: keep-all;
}
.vdo-txt-list .q::before {
	content: 'Q';
	display: block;
	font-size: 2.2rem;
	line-height: 2.5rem;
	font-weight: 700;
	color: #056bff;
	margin-bottom: .2rem;
}
.vdo-txt-list .q {
	display: block;
	font-size: 1.8rem;
	line-height: 2.7rem;
	font-weight: 600;
	color: #000;
}
.vdo-txt-list .a::before {
	content: 'A';
	display: block;
	font-size: 2.2rem;
	line-height: 2.5rem;
	font-weight: 700;
	color: #056bff;
	margin-bottom: .5rem;
}
.vdo-txt-list .a {
	display: block;
	font-size: 1.5rem;
	line-height: 2.2rem;
	color: #333;
	margin-top: 2rem;
}
.vdo-txt-list li {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	opacity: 0;
	transition: opacity 1s;
}
.vdo-slider-wrap[snum="1"] li:nth-child(1) {opacity: 1;}
.vdo-slider-wrap[snum="2"] li:nth-child(2) {opacity: 1;}
.vdo-slider-wrap[snum="3"] li:nth-child(3) {opacity: 1;}
.vdo-slider-wrap[snum="4"] li:nth-child(4) {opacity: 1;}
.vdo-slider-wrap[snum="5"] li:nth-child(5) {opacity: 1;}
.vdo-slider-wrap[snum="6"] li:nth-child(6) {opacity: 1;}
/* // vdo-slider */

/* footer */
.footer {
	padding: 4rem 2.2rem;
	background-color: #000;
	color: #999;
}
.footer li {
	font-size: 1rem;
	line-height: 1.5rem;
}
.footer li a {
	font-size: inherit;
	color: inherit;
}
.footer .bar {
	display: inline-block;
	vertical-align: middle;
	height: .8rem;
	width: .1rem;
	background-color: #979797;
	margin: 0 1rem;
}
.footer li + li {
	margin-top: .5rem;
}
.footer p {
	margin-top: 2rem;
	font-size: 1rem;
	line-height: 1.5rem;
	color: #c8cace;
}





/* 팝업 관련 ============================================== */

/* layer Popup */
.layer-pop{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 0;
    height: 0;
    overflow: hidden;
}
.layer-pop.active{
    display: block;
    width: 100%;
    height: 100%;
    -webkit-animation: fadeIn .3s linear both;
            animation: fadeIn .3s linear both;
}
.layer-pop.out{
    -webkit-animation: fadeOut .3s linear both;
            animation: fadeOut .3s linear both;
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.6);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        opacity: 1;
        background-color: rgba(0, 0, 0, 0.6);
    }
}
@-webkit-keyframes fadeOut {
    0% {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 1;
    }
    99%{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        opacity: 0;
    }
    100% {
        width: 0;
        height: 0;
        background-color: rgba(0, 0, 0, 0);
        opacity: 0;
    }
}
@keyframes fadeOut {
    0% {
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        opacity: 1;
    }
    99%{
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0);
        opacity: 0;
    }
    100% {
        width: 0;
        height: 0;
        background-color: rgba(0, 0, 0, 0);
        opacity: 0;
    }
}

.layer-cont{
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100% - 4.4rem);
    max-height: 80%;
    padding: 1.5rem;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background: #fff;
}
.layer-cont.trems{
    padding: 0;
}
.layer-cont .btn.close{
    position: absolute;
    top: 1.2rem;
    right: 2rem;
}
.layer-scroll{
    margin: 2rem 2rem 0 2rem;
    max-height: 40rem;
    overflow: auto;
}
.layer-scroll > .inner{
    padding-bottom: 2rem;
}

.layer-cont .alert-txt{
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 2.2rem;
    text-align: center;
}

.layer-pop-tit{
    padding: 1rem 0;
    font-weight: 500;
    font-size: 1.8rem;
    color: #1e1e1e;
    line-height: 2.6rem;
    text-align: center;
    background: #f9fafb;
}
.btn-area{
    font-size: 0;
    text-align: center;
}


/* 비밀번호 팝업 */
.msg-pop{
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
	z-index: 200;
	overflow: hidden;
}
.msg-pop.active{
	width: 100%;
	height: 100%;
	-webkit-animation: fadeIn .3s linear both;
			animation: fadeIn .3s linear both;
}

.msg-cont{
	position: absolute;
	top: 50%;
	left: 50%;
	width: calc(100% - 6rem);
	max-width:35rem;
	padding: 5.8rem 2.5rem 4rem;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	background: #fff;
}
.msg-cont .alert-txt {
	font-size:1.6rem;
	font-weight:bold;
	color:#000;
	text-align:center;
}

.msg-cont .pop-btn {
	position:absolute;
	top:1.3rem;
	right:1.3rem;

}
.msg-cont .pop-btn a {
	display:block;
	font-size:0;
	line-height:0;
	width:2.5rem;
	height:2.5rem;
	background:url('../img/btn-close.png') no-repeat 0 0;
	background-size:100% auto;
}

.pw-confirm{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
		-ms-flex-direction: row;
			flex-direction: row;
	margin-top:3rem;
}
.pw-confirm > *{
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 auto;
		-ms-flex: 1 1 auto;
			flex: 1 1 auto;
}
.pw-confirm > .btn.bl.mini{
	-webkit-box-flex: 0;
	-webkit-flex: none;
		-ms-flex: none;
			flex: none;
	margin-left: 1rem;
}

.non-scroll {
	overflow:hidden;
}


/* 공유하기 팝업 */
.share-dialog {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
}
.share-dialog.is-open{
	display: block;
	z-index: 150;
}
.share-in-cont {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
	width: 95%;
	max-width: 500px;
	-webkit-box-shadow: 0 0.8rem 1.6rem rgba(0,0,0,.15);
			box-shadow: 0 0.8rem 1.6rem rgba(0,0,0,.15);
	z-index: -1;
	border: 1px solid #ddd;
	padding: 2.2rem;
	border-radius: 0.5rem;
	background-color: #fff;
}
.share-head{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
			justify-content: space-between;
	margin-bottom: 2rem;
}
.targets{
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-webkit-flex-direction: row;
		-ms-flex-direction: row;
			flex-direction: row;
	margin-bottom: 2rem;
}
.targets > a{
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 100%;
		-ms-flex: 1 1 100%;
			flex: 1 1 100%;
	padding: 1rem 1rem 1rem 3.8rem;
	border-radius: 0.6rem;
	border: 1px solid #ebeff3;
	color: #000;
}
.targets > a + a{
	margin-left: 2rem;
}
.targets > .facebook-share{
	background: url(../img/icon_facebook.png) no-repeat left 10px center / 18px auto;
}
.targets > .kakao-share{
	background: url(../img/icon_kakao.png) no-repeat left 10px center / 18px auto;
}

.url-copy {
	overflow:hidden;
	position:relative;
	padding:1rem 8rem 1rem 1rem;
	border:1px solid #ebeff3;
	border-radius:0.6rem;
}
.url-copy > * {
	display:block;
	color:#000;
}
.url-copy .input-url {
	width:100%;
	padding-left:1rem;
	border:0 none;
	cursor: pointer;
	white-space:nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
}
.url-copy input[type=text]:focus {
	border:0 none;        
}
.url-copy .btn-copy {
	position:absolute;
	top:0;
	right:0;
	display:block;
	width:8rem;
	height:4.4rem;
	background-color:#ebeff3;
	line-height:4.4rem;
	border-left:1px solid #ebeff3;
	text-align:center;
}

.close-btn-right{
	display: inline-block;
	width: 3rem;
	height: 3rem;
	overflow: hidden;
	text-indent: -9999px;
	background: url(../img/ac-black-close-right.png) no-repeat center center / 100% auto;
}
/* // 공유하기 팝업 */

/* // layer Popup */





/* 폼 관련 ============================================= */
/* input type */
.input-checkbox {
	display: inline-block;
	min-height: 2.4rem;
	min-width: 2.4rem;
	background: #fff !important;
}
.input-checkbox > input {
	opacity: 0;
	width: 0;
	height: 0;
	position: absolute;
	overflow: hidden;
	-webkit-appearance: none;
}
.input-checkbox > span {
	display: block;
	position: relative;
	padding-left: 2.9rem;
	font-weight: 400;
	line-height: 2.4rem;
	font-size: 1.8rem;
	min-height: 2.4rem;
}
.input-checkbox > span::before {
	content: '';
	display: inline-block;
	position: absolute;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	left: 0;
	top: 50%;
	width: 2.4rem;
	height: 2.4rem;
	border-radius: 50%;
	border:none;
	background-image: url(../img/ac-ic-check-nor.png);
	background-size:cover;
	background-repeat: no-repeat;
	background-position: center;
	background-color: #dee2e7;
	-webkit-transition: background-color .2s, border-color .2s;
	transition: background-color .2s, border-color .2s;
	-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
			transform: translateY(-50%);
}
.input-checkbox > input:checked + span::before{
	background-image: url(../img/ac-ic-check-sel.png);
	background-color: #056bff;  
	background-size:cover;
}





/* 버튼 ============================================= */
.btn{
    display: inline-block;
    vertical-align: middle;
}
.btn.close{
    width: 2.3rem;
    height: 2.3rem;
    background: url(../img/btn-close.png) no-repeat center center / 100% 100%;
    text-indent: -9999px;
    overflow: hidden;
}
.btn.bl{
    min-width: 10rem;
    padding: 0 2rem;
    font-weight: 400;
    font-size: 1.6rem;
    color: #fff;
    line-height: 4rem;
    background: #000;
    border-radius: 0.6rem;
}
.btn.gr {
	background-color:#dbdee5;
	color:#000;
}
.b-arrow{
	position: fixed;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 2rem;
	opacity: 1;
	transition: .2s;
}
.b-arrow:before{
	content: '';
	position: absolute;
	left: calc(50% - 0.5rem);
	top: 0;
	height: 1.5rem;
	border-left: 0.2rem solid red;
	transform: rotate(-45deg);
}
.b-arrow:after{
	content: '';
	position: absolute;
	left: calc(50% + 0.5rem);
	top: 0;
	height: 1.5rem;
	border-left: 0.2rem solid red;
	transform: rotate(45deg);
}
.b-arrow.fix{
	opacity: 0;
}





/*  게시판 ========================================== */

/* 게시판 쓰기 table */
.tbl-write tr th, .tbl-write tr td {
	border:0 none;
}
.tbl-write tr td {
	padding-left:1rem;
	padding-bottom:1rem;
}
.tbl-write tr td:first-child {
	padding-left:0;
}



/* 게시판 영역 */
#board-wrap {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:150;
	background-color:#FFF;
}
#board-wrap .inner {
	position:relative;
	padding-top:6rem;
	height:100%;
}

.board-head {
	position:absolute;
	top:0;
	left:0;
	z-index:150;
	width:100%;
	padding:1.8rem 2rem 1.7rem 6rem;
	border-bottom:1px solid #eee;
	background-color:#FFF;
}
.board-head .title {
	font-size:1.8rem;
	line-height:2.7rem;
}
.board-head .btn-write {
	position:absolute;
	top:1.8rem;
	right:2rem;
	z-index:200;
	width:7.5rem;
	padding:0.2rem 1.5rem 0.3rem;
	background-color:#ebeff3;
	font-size:1.6rem;
	line-height:2.4rem;
	color:#74777b;
	border-radius:2rem;
}

.srch-box {
	padding:2rem; 
}
.srch-box + .board-cont  {
	padding-top:0;
}
.board-cont {
	padding:2rem 2rem 4rem;
	overflow-y:auto;
	height:100%;
}

.input-text > input{
	display: block;
	width: 100%;
	height: 5rem;
	padding: 0 1.8rem;
	font-size:1.4rem;
	border: 1px solid #dbdee5;
	border-radius:1rem;
}
.input-text.search > input{
	padding-right: 6rem;
	background: url(../img/ic-search.png) no-repeat right 20px center;
	font-size:1.6rem;
	color:#909295;
}
.board-cont .write-board {
	overflow: hidden;
	min-height:24.5rem;
	font-size:1.6rem;
	border: 1px solid #dbdee5;
	border-radius: 1rem;
	margin-top:1rem;
}



/* 게시판 리스트 */
.tbl-list {
	
}
.tbl-body {
	padding:2rem 0;
	border-bottom:1px solid #ebeff3;
}
.tbl-body > a {
	display:block;
	text-decoration:none;
	color:#000;
}

.tbl-body .text-tit span {
	position:relative;
	box-sizing:border-box;
	font-size:1.6rem;
	line-height:2.4rem;
	display:inline-block;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	width:auto;
	max-width:100%;
	vertical-align:top;
}
.tbl-body .text-tit i.notice {
	display:inline-block;
	width:4rem;
	height:2rem;
	margin:0 0.5rem 0.4rem 0;
	background-color: #056bff;
	font-size: 1.2rem;
	font-weight: 300;
	line-height: 2rem;
	color:#FFF;
	border-radius: 2.5rem;
	text-align:center;
}
.tbl-body .text-tit i.lock {
	font-size:0;
	line-height:0;
	display:inline-block;
	vertical-align:top;
	width:2rem;
	height:2rem;
	background: url(../img/ic-list-lock.png) no-repeat left 2px;
}
.tbl-body .text-tit span.new {
	padding-right:2.4rem;
	background: url(../img/ic-list-new.svg) no-repeat right center;
}

.board-cont .text-info {
	margin-top:0.7rem;
}
.board-cont .text-info li {
	position:relative;
	display:inline-block;
	padding-left:1.1rem;
	font-size:1.2rem;
	line-height:1.8rem;
	color:#74777b;
}
.board-cont .text-info li:first-child {
	padding-left:0;
}
.board-cont .text-info li:after {
	content:'';
	position:absolute;
	top:50%;
	left:0.5rem;
	display:block;
	width:0.1rem;
	height:0.8rem;
	margin-top:-0.2rem;
	background-color:#d8d8d8;
}
.board-cont .text-info li:first-child:after {
	display:none;
}
.board-cont .text-info li em {
	font-size:1.2rem;
	line-height:1.8rem;
	color:#74777b;
}

.tbl-body .text-status {
	margin-top:0.7rem;
}
.tbl-body .text-status span {
	padding-left:2.5rem;
	font-size:1.2rem;
	line-height:1.8rem;
	color:#74777b;
}
.tbl-body .text-status .cmt-num {
	background:url('../img/ic-list-comment.svg') no-repeat 0 0;
}
.tbl-body .text-status .cmt-heart {
	background:url('../img/ic-list-like.svg') no-repeat 0 0;
}


.tbl-body.no-title {
	position:relative;
}
.tbl-body.no-title p {
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%, -50%);
	font-size:1.6rem;
	color:#056bff;

	white-space: nowrap;
}

#board-wrap .btn-area {
	display:flex;
	justify-content:center;
	margin-top:3rem;
}
#board-wrap .btn-area .btn {
	width:100%;
	max-width:15.3rem;
	margin-left:1rem;
	padding:0 1.5rem;
	font-size:1.8rem;
	font-weight:500;
	line-height:5rem;
	border-radius:1rem;
}
#board-wrap .btn-area .btn:first-child {
	margin-left:0;
}
#board-wrap .popup-close {
	position:absolute;
	top:1.8rem;
	left:2rem;
	z-index:180;
}

#board-wrap .popup-close a {
	display:block;
	width:3rem;
	height:3rem;
	background:url('../img/ac-black-close.svg') no-repeat 0 0;
	font-size:0;
	line-height:0;
}



/* 게시판 View */
.tbl-view {
	border-bottom:1px solid #ebeff3;
}
.view-head {
	padding-bottom:2rem;
}
.view-head .text-tit {
	font-size:1.6rem;
	font-weight:700;
	color:#000;
}

.bbs-btn {
	display:flex;
}
.bbs-btn a, bbs-btn button {
	position:relative;
	display:block;
	margin-left:1rem;
	padding-left:1rem;
	font-size:1.4rem;
	font-weight:300;
	color:#909295;
}
.bbs-btn > *:first-child {
	padding-left:0;
	margin-left:0;
}
.bbs-btn a:before, .bbs-btn button:before {
	content:"";
	position:absolute;
	top:50%;
	left:0;
	display:block;
	width:0.1rem;
	height:1rem;
	margin-top:-0.5rem;
	background-color:#dbdee5;
}
.bbs-btn > *:first-child:before {
	display:none;
}
.view-btn.bbs-btn {
	margin-top:1.5rem;
}

.view-content {
	padding:4rem 0 5rem;
	font-size:1.6rem;
	border-top: 1px solid #ebeff3;
}

.view-share {
	padding-bottom:2rem;
}



/* 이전/다음 글*/
.tbl-navi > table {
	table-layout: fixed;
	width: 100%;
	margin-top:4rem;
	border-top: 1px solid #ebeff3;
}
.tbl-navi > table tbody td{
	padding: 1rem 0;
	font-weight: 400;
	font-size: 1.6rem;
	line-height: 3rem;
	color: #000;
	border-bottom: 1px solid #ebeff3;
}
.tbl-navi > table td.navi-label {
	font-size:1.2rem;
	color:#909295;
}
.tbl-navi > table td.title a {
	display:block;
	max-width:95%;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow:hidden;
	font-size:1.4rem;
	color:#000;
}



/* 댓글영역 */
.comment-list .comment {
	position:relative;
	padding:3rem 0;
	border-bottom:1px solid #ebeff3;
}

.comment-list .comment.re-cmt {
	position:relative;
	padding-left:3.5rem;
	padding-top:2.5rem;
}
.comment-list .comment.re-cmt:before {
	content:'';
	position:absolute;
	left:0;
	top:2rem;
	display:block;
	width:3rem;
	height:3rem;
	background:url('../img/ic-detail-recomment.svg') no-repeat left top;
}

.comment-list .comment span {
	color:#000;
}
.comment-list .comment span.cmt-writer {
	font-weight:bold;
}
.comment-list .comment span.cmt-time {
	padding-left:1rem;
	color:#909295;
}

.comment-list .comment .cmt-cont{
	padding:0.5rem 0 1.5rem;
	font-size:1.8rem;
	line-height:2.4rem;
}
.comment-list .comment .cmt-btn {
	position:absolute;
	top:0;
	right:0;
}

.comment-list .comment .cmt-reply {
	position:relative;
}
.comment-list .comment .cmt-reply a {
	font-size:1.6rem;
	color:#909295;
}
.comment-list .comment .cmt-reply > a.on {
	font-weight:bold;
	color:#000;
}

.comment-list .comment .comment-view {
	display:none;
	margin-top:1.5rem;
}
.comment-list .comment .comment-view.active {
	display:block;
}
.board-comment .comment-view {
	position:relative;
	margin-top:3rem;
}

.cmt-member {
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
	margin-bottom:2rem;
}
.cmt-member div.input-text {
	width:100%;
	margin-left:1rem;
}
.cmt-member div.input-text:first-child {
	margin-left:0;
}

.cmt-write {
	-webkit-box-sizing:border-box;
			box-sizing:border-box;
	min-height:10rem;
	padding:1.8rem 1.8rem 6.8rem;
	background-color:#FFF;
	border:1px solid #dbdee5;
	border-radius:0.7rem;
}
.cmt-write textarea{
	width:100%;
	min-height:6.2rem;
	resize:none;
	border:0 none;
}
.cmt-write button.btn {
	position:absolute;
	right:2rem;
	bottom:2rem;
	min-width:6rem;
	line-height:4rem;
	border-radius:1rem;
}

.view-share {
	position:relative;
}
.view-share .cmt-num {
	display:inline-block;
	padding-left:3rem;
	background:url('../img/ic-detail-re.svg') no-repeat left center;
	background-size:2.4rem;
	font-size:1.4rem;
	line-height:2.4rem;
	color:#74777b;
}
.view-share .share-area {
	position:absolute;
	right:0;
	top:0;
	display:-webkit-box;
	display:-webkit-flex;
	display:-ms-flexbox;
	display:flex;
}
.view-share .share-area a {
	display:block;
	margin-left:2rem;
	background-size:2.4rem;
	color:#74777b;
}
.view-share .share-area a:active {
	color:#74777b;
}

.share-area .cmt-heart {
	position:relative;
	padding-left:3rem;
	font-size:0;
}
.share-area .cmt-heart:before {
	content:'';
	position:absolute;
	left:0;
	top:50%;
	width:2.4rem;
	height:2.4rem;
	margin-top:-1.2rem;
	background: url('../img/ic-detail-like-nor.svg') no-repeat left center;
	-webkit-transition-duration: 0.8s;
			transition-duration: 0.8s;
}
.share-area .cmt-heart.on:before {
	background-image:url('../img/ic-detail-like-sel.svg');
	-webkit-transition-duration: 0.8s;
			transition-duration: 0.8s;
}
.share-area .cmt-heart em {
	font-size:1.4rem;
}
.share-area .cmt-share {
	display:block;
	width:2.4rem;
	height:2.4rem;
	background: url('../img/ic-detail-share.svg') no-repeat left center;
	font-size:0;
	line-height:0;
}





/* pager */
.pager{
	margin-top:3rem;
	font-size: 0;
	text-align:center;
}
.pager > *{
	display: inline-block;
	vertical-align: middle;
}
.pager > * + *{
	margin-left:10px;
}

.pager > .prev,
.pager > .next{
	position: relative;
	width: 3rem;
	height: 3rem;
	border: 1px solid #dbdee5;
	border-radius: 0.4rem;
}
.pager > .prev:before{
	content: '';
	position: absolute;
	top: 1rem;
	left: 0.8rem;
	width: 1rem;
	border-bottom: 1px solid #000;
	opacity: 0.6;
	-webkit-transform: rotate(-45deg);
		-ms-transform: rotate(-45deg);
			transform: rotate(-45deg);
}
.pager > .prev:after{
	content: '';
	position: absolute;
	top: 1.7rem;
	left: 0.8rem;
	width: 1rem;
	border-bottom: 1px solid #000;
	opacity: 0.6;
	-webkit-transform: rotate(45deg);
		-ms-transform: rotate(45deg);
			transform: rotate(45deg);
}
.pager > .next:before{
	content: '';
	position: absolute;
	top: 1rem;
	left: 0.8rem;
	width: 1rem;
	border-bottom: 1px solid #000;
	opacity: 0.6;
	-webkit-transform: rotate(-135deg);
		-ms-transform: rotate(-135deg);
			transform: rotate(-135deg);
}
.pager > .next:after{
	content: '';
	position: absolute;
	top: 1.7rem;
	left: 0.8rem;
	width: 1rem;
	border-bottom: 1px solid #000;
	opacity: 0.6;
	-webkit-transform: rotate(135deg);
		-ms-transform: rotate(135deg);
			transform: rotate(135deg);
}

.page-num > a {
	display: inline-block;
	margin: 0 1rem;
	font-weight: 400;
	font-size: 1.8rem;
	color: #74777b;
	line-height: 3rem;
}
.page-num > a.on{
	font-weight: 700;
	color: #000;
}

/*  // 게시판 ========================================== */